apiVersion: apps/v1
kind: Deployment
metadata:
  name: arash-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guestbook
      component: arash-frontend
  template:
    metadata:
      labels:
        app: guestbook
        component: arash-frontend
    spec:
      containers:
        - name: arash-frontend
          image: quay.io/arashrahimi/arashr-frontend:latest   
          imagePullPolicy: Always
          ports:
            - containerPort: 8080

          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 100m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: arash-frontend
spec:
  type: ClusterIP
  selector:
    app: guestbook
    component: arash-frontend
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: arash-frontend
spec:
  to:
    kind: Service
    name: arash-frontend
  port:
    targetPort: 8080
