apiVersion: apps/v1
kind: Deployment
metadata:
  name: arash-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: arash-frontend
  template:
    metadata:
      labels:
        app: arash-frontend
    spec:
      containers:
        - name: arash-frontend
          image: quay.io/arashrahimi/arashr:frontend
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 100m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: arash-frontend
spec:
  type: ClusterIP
  selector:
    app: arash-frontend
  ports:
    - port: 8080
      targetPort: 8080
