name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

env:
  IMAGE_REGISTRY: quay.io
  IMAGE_NAME: arashrahimi/arashr


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Log in to Quay.io
        uses: docker/login-action@v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

       - name: Build app container

       run: |
        docker build -f backend/Containerfile -t quay.io/arashrahimi/arashr-backend:latest ./backend

       - name: Build frontend container
      run: |
        docker build -f frontend/Containerfile -t quay.io/arashrahimi/arashr-frontend:latest ./frontend

     - name: Push containers
      run: |
        docker push quay.io/arashrahimi/arashr-backend:latest
        docker push quay.io/arashrahimi/arashr-frontend:latest  
  
